<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createInstDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Создание инструмента</div>
    </template>

    <h5>Название модели</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="instmodel" aria-describedby="name-help" placeholder="Название модели"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.instmodel" id="name-help" class="p-error">
              {{ this.$store.state.validation.instmodel }}
            </small>
    </span>
    <h5>Завод производитель</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="fabricator" aria-describedby="name-help" placeholder="Производитель"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.fabricator" id="name-help" class="p-error">
              {{ this.$store.state.validation.fabricator }}
            </small>
    </span>
    <h5>Цена</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="price" aria-describedby="name-help" placeholder="Цена"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.price" id="name-help" class="p-error">
              {{ this.$store.state.validation.price }}
            </small>
    </span>
    <h5>Страна производитель</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="manufactory" aria-describedby="name-help" placeholder="Страна"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.manufactory" id="name-help" class="p-error">
              {{ this.$store.state.validation.manufactory }}
            </small>
    </span>
    <h5>Скорость износа</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="wearRate" aria-describedby="name-help" placeholder="Cкорость износа"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.wearRate" id="name-help" class="p-error">
              {{ this.$store.state.validation.wearRate }}
            </small>
    </span>

    <h5>Изображение</h5>

    <div v-if="image">
      <img :src="image" style="width: 90px"/>
      <div>
        <Button class="p-button-info" @click="removeImage">Сбросить</Button>
      </div>
    </div>
    <div>
      <label v-if="!image" class="p-button p-button-info">
        Выбрать файл
        <input type="file" @change="onFileChange">
      </label>
    </div>

    <small v-if="this.$store.state.validation.picture" id="picture-help" class="p-error">
      {{ this.$store.state.validation.picture }}
    </small>

    <template #footer>
      <Button autofocus icon="pi pi-check" label="Создать" @click="create"/>
    </template>

  </Dialog>
</template>

<script>

import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';

export default {
  name: "CreateInst",
  components: {Dialog, InputText, Button},
  data() {
    return {
      instmodel: '',
      fabricator: '',
      price: '',
      manufactory: '',
      wearRate:'',
      visible: false,
      modal: true,
      image: '',
      imagefile: null,
    }
  },

  methods:
      {
        create() {
          this.$store.dispatch('createInst', {
            instmodel: this.instmodel,
            fabricator: this.fabricator,
            price: this.price,
            manufactory: this.manufactory,
            wearRate: this.wearRate,
            picture: this.imagefile,
          });
        },

        onFileChange(e) {
          var files = e.target.files || e.dataTransfer.files;
          if (!files.length)
            return;
          this.imagefile = files[0];
          this.createImage(files[0]);
        },
        createImage(file) {
          var reader = new FileReader();
          reader.onload = (e) => {
            this.image = e.target.result;
          };
          reader.readAsDataURL(file);
        },
        removeImage: function (e) {
          this.image = '';
        }

      }
}
</script>

<style scoped>
input[type="file"] {
  display: none;
}
</style>