<template>
  <div id="app">
    <Menu/>
    <CreateInst/>
    <router-view :key="$route.fullPath"/>
  </div>
</template>
<script>

import store from "./state";

import Menu from "./components/Menu";
import CreateInst from "./components/CreateInst";

export default {
  components: {Menu,CreateInst},
  computed: {
    user() {
      return this.$store.state.user;
    },
  },

  mounted() {
    const token = localStorage.getItem('token');
    if (token) {
      store.commit('setToken', token);
      store.commit('setLoggedIn', true);
    }
    this.$store.dispatch('getUser')
  }
};
</script>